body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  background-color: rgb(219, 220, 222);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}